@{
    ViewBag.Title = "Manage Roles";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Manage Users", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @if (ViewBag.Title != null)
            {
                string title = ViewBag.Title;
                @title;
            }
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Roles)
    {
        <tr>
            <td>
                @item
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteRoles", new { role = item })
            </td>
        </tr>
    }

</table>
